[run]
omit =
    */main.py
    func/src/domain/*
    func/src/infrastructure/*
    func/src/repositories/*
    tests/*
    */__init__.py

# command to run
# pytest --cov-report term-missing --cov-config=.coveragerc --cov=func -v